body {
  font-family: 'Comme', serif;

  --background: #F1F0EF;
  --foreground-1: #3D3935;
  --foreground-2: #313030;
  --highlight: #00477B;

  background: var(--background);

  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
