<script>
  async function update_role(user_id, role) {
    let data = new FormData()
    data.set("id", user_id)
    data.set("role", role)
    await fetch("/api/update-role", {
      method: "POST",
      body: data
    })
  }

  async function delete_user(user_id) {
    let data = new FormData()
    data.set("id", user_id)
    await fetch("/api/delete-user", {
      method: "POST",
      body: data
    })
    document.getElementById(`row-${user_id}`).remove()
  }

  onload = () => {
    for (let item of document.getElementsByClassName("role-select")) {
        item.addEventListener("change", async (e) => {
          e.preventDefault();
          let id = e.currentTarget.dataset.id;
          await update_role(id, e.currentTarget.value)
        });
    }
  }
</script>

<table cellspacing="0" cellpadding="0">
  <tr id="table-header">
    <th class="id-header">User ID</th>
    <th class="name-header">Name</th>
    <th class="role-header">Role</th>
    <th class="delete-header"></th>
  </tr>
  {% for account in accounts %}
  <tr id="row-{{ account.id }}">
    <td>{{ account.id }}</td>
    <td>{{ account.name }}</td>
    <td>
      {% if account.id == "admin" %}
        <span>Admin</span>
      {% else %}
        <select class="role-select" data-id="{{ account.id }}">
        {% for role in ['application', 'operations', 'resiliency'] %}
          <option
            {% if account.role == role %}
              selected=""
            {% endif %}
            value="{{role}}"
          >
            {{ role.title() }}
          </option>
        {% endfor %}
      {% endif %}
    </select>
    </td>
    <td>
      {% if account.id != "admin" and account.id != user.id %}
        <button onclick="delete_user('{{ account.id }}')">
          <img src="/static/trash.svg" alt="delete" />
        </button>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>

<style>
table {
  margin-top: 1rem;
}
table * {
  color: #313030;
}


tr {
  height: 3rem;
}

.id-header,
.name-header,
.role-header {
  width: 10rem;
}
.delete-header {
  width: 4rem;
}

#table-header {
  background: #313030;
  color: #F1F0EF;
}
#table-header>* {
  color: #F1F0EF;
}

tr:nth-child(even) {
  background: #F1F0EF;
}

tr:nth-child(odd) {
  background: #D9D9D9;
}

td {
  text-align: center;
}

select {
  font-size: 16px;
  width: 7rem;
  text-align: center;

  border: .1rem solid #313030;
  border-radius: .5rem;
}

button {
  width: 2rem;
  height: 2rem;
}

button>img {
  height: 100%;
  width: 100%;
}
</style>
